*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    background-color: whitesmoke;
    padding: 20px;

    h2{
        color: blue;
        font-size: 20px;
        padding: 20px;
    }

    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 20px;
    }

    a{
        text-decoration: none;
        color: black;
        font-size: 15px;
    }

    .mobile-svg{
        display: none;
    }

    .web-svg{
        display: flex;
        width: 30px;
    }
}

@media screen and (max-width: 1000px) {
    header{
    
        a{
            text-decoration: none;
            color: black;
            font-size: 15px;
        }
    
        .mobile-svg{
            display: none;
        }
    
        .web-svg{
            display: flex;
            width: 35px;
        }
    }
}

@media screen and (max-width: 700px) {
    header{

        nav{
            gap: 15px;
        }

        h2{
            font-size: 18px;
        }
    
        a{
            text-decoration: none;
            color: black;
            font-size: 15px;
        }
    
        .mobile-svg{
            display: none;
        }
    
        .web-svg{
            display: flex;
            width: 30px;
        }
    }
    
}

@media screen and (max-width: 500px) {

    header{
        display: flex;
        background-color: whitesmoke;
        padding: 20px;
    
        h2{
            color: blue;
            font-size: 20px;
            padding: 20px;
        }
    
        a{
            display: none;
        }
    
        .mobile-svg{
            display: flex;
            width: 30px;
            justify-content: flex-end;
        }
    
        .web-svg{
           display: none;
        }
    }
}