*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    h2{
        font-family: 'Roboto', sans-serif;
    }
    nav{
        display: flex;
        gap: 20px;
    }
}