.left-network-list{

    h1{
        color: rgb(77, 77, 77);
        font-size: 20px;
        padding: 20px 0;
    }

    .left1{
        padding: 10px 0;
        h3{
            font-size: 18px;
        }
        p{
            font-size: 15px;
        }
    }

    .left2{
        padding: 10px 0;
        h3{
            font-size: 18px;
        }
        p{
            font-size: 15px;
        }
    }
    .left3{
        padding: 10px 0;
        h3{
            font-size: 18px;
        }
        p{
            font-size: 15px;
        }
    }
    .left4{
        padding: 10px 0;
        h3{
            font-size: 18px;
        }
        p{
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .left-network-list{

        h1{
            font-size: 18px;
            padding: 18px 0;
        }
    
        .left1{
            padding: 10px 0;
            h3{
                font-size: 16px;
            }
            p{
                font-size: 13px;
            }
        }
    
        .left2{
            padding: 10px 0;
            h3{
                font-size: 16px;
            }
            p{
                font-size: 13px;
            }
        }
        .left3{
            padding: 10px 0;
            h3{
                font-size: 16px;
            }
            p{
                font-size: 13px;
            }
        }
        .left4{
            padding: 10px 0;
            h3{
                font-size: 16px;
            }
            p{
                font-size: 13px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .left-network-list{

        h1{
            color: rgb(77, 77, 77);
            font-size: 20px;
            padding: 20px 0;
        }

    }
}