.hegde-coffee-section{
    background-color: gainsboro;
    width: 100%;
    height: 40%;
    flex-direction: row;
    padding: 20px;

    .hegde-coffee-row1{
        background-color: white;
        display: flex;
        padding: 20px;
        flex-direction: column;

        h2{
            font-size: 20px;
        }

        .start-referral{
            display: flex;
            button{
                padding: 5px;
                border: none;
            }
        }
    }
    .hegde-coffee-row2{
        display: flex;
        gap: 50px;

        h3{
            font-size: 17px;
        }
        p{
            font-size: 15px;
        }
    }
    .conferences-container{
        background-color: white;
        padding: 30px;
        margin-top: 50px;
        h2{
            font-size: 17px;
        }
        p{
            font-size: 15px;
        }
    }
    .Dream-force{
        background-color: white;
        padding: 30px;
        margin-top: 20px;
        h2{
            font-size: 17px;
        }
        p{
            font-size: 15px;
        }
    }
   

}